body {
    background-image:url(static.gif), url(Mountains.gif);
    background-repeat: no-repeat;
    background-size: cover;
     background-blend-mode: difference;
}
    
       h1 {
    font-family:Calibri;
    font-style: italic;
}
h2 {
    font-family: Calibri;
}h3 {
    font-family: Calibri;
}
